:root {
  --nav-menu-padding: 17px;
  --container-padding: 15px;
  --container-padding-scrolled: 80px;
  --section-padding: 96px;
}

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 1320px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  background-color: #ffffff00;
  width: 100%;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  padding-top: var(--nav-menu-padding);
  padding-bottom: var(--nav-menu-padding);
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header-menu .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-active {
  background-color: #212529;
}

.header-menu img {
  width: 187px;
  height: 32px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.header-menu li {
  margin-left: 15px;
  display: inline;
}

.nav-item:hover,
.nav-item:focus {
  color: #cca000;
}

.nav-item {
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: all 0.1s;
}

.nav-header {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.image-header {
  text-align: center;
  color: #fff;
  background-image: url("image/header-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

button .tablet {
  padding: 12px;
  display: none;
}

.nav-menu > button {
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  background: transparent;
  color: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-menu > button i {
  margin-left: 10px;
}

.subtext {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", serif;
}

.maintext {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.image-header .button {
  color: #fff;
  background-color: #ffc800;
  border-color: #ffc800;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1.25rem 2.5rem;
  border-radius: 5px;
  text-transform: uppercase;
}

.image-header {
  padding-top: 272px;
  padding-bottom: 200px;
}

section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.section-title {
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Montserrat", serif;
}

.section-decription {
  color: #6c757d;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4rem;
}

.service-content {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 33.33333333%;
  text-align: center;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.icon-circle {
  text-align: center;
  line-height: 100px;
  background-color: #ffc800;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 50px;
}

.col-1 h4 {
  font-weight: 1000;
  font-family: "Montserrat";
}

p {
  font-family: "Roboto Slab";
  color: #6c757d;
}

#portfolio {
  background-color: #f8f9fa;
}

.row {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  display: block;
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 3);
  margin-bottom: 24px;
}

.portfolio-image {
  position: relative;
  display: inline-block;
}

.portfolio-content {
  background-color: white;
  padding: 24px;
  text-align: center;
}

.portfolio-item .item-title {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 700;
}

.portfolio-item .item-caption {
  font-family: "Roboto Slab";
  font-style: italic;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #ffc800;
}

.plus-icon {
  color: white;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio-image .overlay:hover {
  opacity: 0.9;
}

.about-content {
  position: relative;
  margin: 0 auto;
}
.about-timeline {
  max-width: 100%;
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
  box-sizing: border-box;
}
.about-timeline ul {
  margin: 0;
  padding: 0;
}
.about-timeline ul li {
  line-height: normal;
  position: relative;
  width: 50%;
  box-sizing: border-box;
  list-style: none;
}

.about-timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.about-timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
  padding-right: 100px;
  padding-bottom: 80px;
}

.about-timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
  padding-left: 100px;
  padding-bottom: 80px;
}
.timeline-content {
  padding-bottom: 20px;
}

.timeline-image {
  position: absolute;
  width: 170px;
  height: 170px;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
  margin-left: -85px;
}

.timeline-image img{
  border-radius: 50%;
}

.about-timeline ul li:nth-child(odd) .timeline-image{
  left: 100%;
}

.about-timeline ul li:nth-child(even) .timeline-image{
  left: 0;
}

.about-timeline h3 {
  font-family: "Montserrat";
}

#team {
  background-color: #f8f9fa;
}

.team-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 33.33333333%;
    text-align: center;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#team .row{
  margin-bottom: 50px;
}

.member-name h3{
  font-family: "Montserrat";
}

.member-name h4{
  font-family: "Roboto Slab";
  font-weight: 100;
  color:#6c757d;
}

.member-social{
  display: flex;
  gap: 25px;
}

.social-icon{
  display: flex;
  gap: 10px;
}

.social-icon .icon-circle{
  display: inline-flex;
  width: 40px;
  height: 40px;
  padding: 12px;
  font-size: 18px;
  background-color: black;
  line-height: 40px ;
}

.social-icon i{
  margin: 0 auto;
}

.image-square{
  border: #6c757d solid 5px;
  width: 250px;
  border-radius: 50%;
}


.team-footer{
  font-family: "Roboto Slab";
  text-align: center;
}

.social-item{
  max-width: 100%;
  padding: 50px 100px 50px 100px;
  justify-content: space-between;
  display: flex;
  gap: 50px;
  background-color: white;
}

.social-item img{
  width: 100px;
}

.team-footer p{
  padding-left: 100px;
  padding-right: 100px;
}

#contact{
  background-color: #212529;
  background-image: url("image/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

#contact .section-title{
  color: white;
}

.contact-form{
  width: 100%;
}

.input-form{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 40px;
}

.info{
  width: 50%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.message{
  display: inline;
  width: 50%;
}

.info input{
  border: red;
  padding: 31px;
  border-radius: 9px;
  height: 50px;
}

.message textarea{
  font-family: "Roboto Slab";
  padding: 20px;
  border-radius: 8px;
  resize: none;
  width: 100%;
  height: 100%;
}

.info input:invalid{
  border: 1px red solid;
}

.button-center{
  text-align: center;
}

.send{
  border: none;
  color: #fff;
  background-color: #ffc800;
  border-color: #ffc800;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1.25rem 2.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  opacity: 0.5;
}

footer{
  font-weight: 100;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Montserrat";
}

.footer-left{
  gap: 20px;
  display: flex;
}




