html{
    scroll-behavior: smooth;
}

.btn-disable{
    opacity: 0.3;
    background-color: gray;
    color: black;
    pointer-events: none;
}

.icon-wishlist{
    margin-top: 12px;
    margin-right: 12px;
    font-size: 50px;
    float: right;
    color: rgb(206, 206, 206);
}

.icon-wishlist:hover{
    color: red;
}

.active-icon-fav{
    color: red;
}

.btn-like-article{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
}

.cate{
    margin-right: 22px;
}

.heart-detail{
    top: 20px;
    left: 0;
}
