html{
    scroll-behavior: smooth;
}

.btn-disable{
    opacity: 0.3;
    background-color: gray;
    color: black;
    pointer-events: none;
}

.icon-wishlist{
    margin-top: 12px;
    margin-right: 12px;
    font-size: 50px;
    float: right;
    color: gray;
    opacity: 0.7;
}

.icon-wishlist:hover{
    opacity: 1;
    color: red;
}

.active-icon-fav{
    color: red;
}