*,
*::before,
*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.wrapper{
    width: 1000px;
    margin: auto;
}

.posts{
    overflow: hidden;
    display: flex;
}

.post-item{
    overflow: hidden;
    width: 300px;
    margin: 10px;
    box-shadow: 5px 5px 20px #aaaaaa;  
    background-color: white;
    border-radius: 10px;
}

.post-image{
    overflow: hidden;
    width: 300px;
    height: 180px;
}

.post-image img{
    width: 300px;
    height: 180px;
    transition: transform 0.5s;
}

.post-image img:hover{
    transform: scale(1.5);
}

.post-content{
    padding: 15px;
    align-items: center;
}

.post-author{
    display: flex; 
}

.post-author img{
    width: 40px; 
    height: 40px; 
    overflow: hidden; 
    border-radius: 50%;
}

.post-time{
    margin-left: auto;
}
